@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-bg-color: rgb(35, 35, 35);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}
body {
  /* overflow-x: hidden; */
}
section {
  background: rgb(51 51 51);
  height: 100vh;
  /* width: 100vw; */
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  z-index: 999;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@layer utilities {
  .flex-2 {
    flex: 2 !important;
  }
  .project-card-bg-color {
    background-color: var(--nav-bg-color);
  }
}