@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .grid-gap-1 {
    @apply gap-1;
  }
  .grid-gap-2 {
    @apply gap-2;
  }
  .grid-gap-3 {
    @apply gap-3;
  }
  .grid-gap-4 {
    @apply gap-4;
  }
}
:root {
  --nav-bg-color: rgb(35, 35, 35);
}
html {
  @apply text-white;
}
* {
  @apply box-border relative m-0 p-0;
}
body {
  @apply bg-[rgb(61_61_61)];
  /* background: rgb(41 41 41); */
}
section {
  @apply h-screen max-w-[100vw];
}
a {
  @apply text-inherit no-underline;
}
nav {
  @apply fixed z-[999] w-full flex justify-between;
}
.nav-scrolled-bg {
  @apply shadow-[rgb(0_0_0_/_5%)_0px_3px_3px];
  background: rgb(35, 35, 35);
}
@layer utilities {
  .flex-2 {
    @apply flex-[2];
  }
  .project-card-bg-color {
    @apply bg-[color:var(--nav-bg-color)];
  }
  .bg-image-inherit {
    @apply bg-[inherit];
  }
}
.gradient-b {
  @apply border-[10px] border-solid border-[3px];
  border-image: linear-gradient(to left, #743ad5, #d53a9d) 1;
}
