@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}
body {
  background: rgb(24, 24, 24);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  z-index: 999;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
