.main-title {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -50%);
}

.content {
  width: 100%;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}

#home-content {
  display: none;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.title {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 3vw;
  width: 100%;
  z-index: 2;

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}

.cafe-inner, .cafe-inner {
  display: inline-block;
}


.cafe {
    > .cafe-inner {
    display: inline-block;
  }
}

.about {
  display: inline-block;
}

.home-content-image {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1;
  grid-column: 2;
  position: relative;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  img {
    max-width: 40vw;
    position: absolute;
    display: block;
    width: 100%;
  }
}

.image-2, .about-2-inner{
  opacity: 0;
}

@media screen and (max-width: 560px) {
  .home-content-image {
    grid-column: none;
    position: absolute;
  }
  .home-content-image > img {
    max-width: 100%;
  }
  .title {
    font-size: 4vw;
  }
}

.loading-wrapper {
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  &.spinner::before {
    --spinner-height: 3rem;
    --spinner-width: 3rem;
    content: '';
    box-sizing: border-box;
    position: absolute;
    z-index: 999;
    top: calc(50vh - calc(var(--spinner-width)/2));;
    left: calc(50vw - calc(var(--spinner-width)/2));
    width: 3rem;
    height: 3rem;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
  a:not(:first-child) {
    margin-left: 1rem !important;
  }
}
.icon {
  display: block;
  background-size: cover;
}
.flex-1 {
  flex: 1;
}

.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow-1{
  width: 100px;
  height: 100px;
  background: #8c8888;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  opacity: 0.7;
}

.arrow-2{
  width: 60px;
  height: 60px;
  background: #525050;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
  opacity: 0.7;
}


.arrow-2 i.fa{
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #006064;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.zoomIn {
  animation: zoomIn 2s infinite;
}

.angle-down {
  height: 30px;
  width: 30px;
  left: 15px;
  top: 15px;
}

iframe {
  min-height: 450px;
  width: 100%;
}


#projects {
  height: unset;
}

.placeholder {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
 }

.icon-hover:hover {
  transform: scale(1.05);
    transition: all 0.2s ease 0s;
}